.menu1{

    height: 800px;
    width: 800px;
    background-color: black;

  }

.div1{
padding: 10;
margin-left: 50;
float: left;
width: 600px;
height: 600px;
align-content: center;
background-color: rgba(160,190,255,0.7);


}
.shell{
  position: relative;
  border-radius: 5px;
  border: 10px #fff solid;
 box-shadow: 20px 30px 20px rgba(0,0,0,5);
 overflow-x: hidden;

}

.images{

width: 300%;
height:100%;
display: flex;
position: absolute;
left:0;

transition: .2s;
}

.img{

  width: 100%;
  background-size: cover;
  
}
.img:nth-child(1){
background-image: url("../../../public/Image/Anz1.JPG");

}
.img:nth-child(2){
  background-image: url("../../../public/Image/Anz2.JPG");
  
  }
  .img:nth-child(3){
    background-image: url("../../../public/Image/vscode.JPG");
    
    }

    .miniimg{display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    bottom: 20px;
    width: 40%;
    z-index: 999;
    right: 10%;
    }
    .min{
      background-size: cover;
      cursor: pointer;
      border-radius: 50%;
      border: solid 5px rgba(51, 50, 50, 0.5);
      background-position: -20px 0;
      width: 30px;
      height: 30px;
    }
    .min:nth-child(1){background-image: url("../../../public/Image/Anz1.JPG");}
    .min:nth-child(2){background-image: url("../../../public/Image/Anz2.JPG");}
    .min:nth-child(3){background-image: url("../../../public/Image/vscode.JPG");}

    .button{

      width: 100%;
      height: 100%;
      position: absolute;
     
      display: flex;
      justify-content: space-between;
      user-select: none;
      
    }
    
    .buttonleft{font-size: 20px;
      background-color: rgba(160,190,255,0.4);
      padding: -100px 15px 0px 0px;
      line-height: 250px;
      
    cursor: pointer;}
     .buttonright{
      font-size: 20px;
        background-color: rgba(160,190,255,0.7);
        padding:  -100px 15px 0px 0px;;
        line-height: 250px;
        
        cursor: pointer;
     }
  